
@{
    ViewBag.Title = "MVC";
}

@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<TaskWebApp.Models.TaxViewModel>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            Account
        </th>
        <th>
           Description
        </th>
        <th>
            Amount
        </th>
        <th>

            Currency Code

        </th>

        <th>

          Document name

        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
              
                @Html.ActionLink("Remove", "Remove", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("About", new { page}), PagedListRenderOptions.ClassicPlusFirstAndLast)